<!-- <%- include('./partials/header.ejs') %> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-5">
        <h2 class="alert alert-success text-center">Add New Student</h2>
        <form method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" name="age" />
          </div>
          <div class="mb-3">
            <label for="fees" class="form-label">Fees</label>
            <input type="text" class="form-control" id="fees" name="fees" />
          </div>
          <div class="mb-3">
            <label for="fees" class="form-label">image</label>
            <input type="file" class="form-control" id="img_upload" name="img_upload" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-sm-6 mt-5">
        <h2 class="alert alert-danger text-center"> List of Student</h2>
        <%# Show All Data %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Fees</th>
                <th scope="col">images</th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% var i=1 %>
                <% data.forEach((item)=>{ %>
                  <tr>
                    <td>
                      <%= i++ %>
                    </td>
                    <td>
                      <%= item.name %>
                    </td>
                    <td>
                      <%= item.age %>
                    </td>
                    <td>
                      <%= item.fees %>
                    </td>
                    <td>
                      <form action="/student/edit/<%= item._id %>" method="get" class="d-inline">
                        <button type="submit" class="btn">
                          <i class="fas fa-pen-square text-info"></i>
                        </button>
                      </form>

                      <form action="/student/delete/<%= item._id %>" method="post" class="d-inline">
                        <button type="submit" class="btn">
                          <i class="fas fa-trash text-danger"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>

            </tbody>
          </table>
      </div>
    </div>
  </div> -->

<!-- <%- include('./partials/footer.ejs') %> -->
<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="LOVE RUSH program is ready to go on live">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">

  <title>Ultra tech</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css" class="rek">
  <script src="assets/js/html2canvas.js"></script>

  <style>
    #uploadedImage {
      height: 100px;
      object-fit: contain;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .gradient-text {
      text-align: center;

      font-weight: 700;


      color: #ffff;

    }
  </style>

</head>

<body>


  <div class="container-fluid">
    <div class="row">
      <div class="loginBox">
        <img class="user" src="./assets/logo.png">

        <form enctype="multipart/form-data" method="POST"> <br>
          <h4 class="gradient-text">Painting Competition</h4>

          <input type="text" name="name" placeholder="Firm Name" autocomplete="off" required>
          <input id="phonenum" name="number" type="tel" pattern="[A-Za-z0-9]+" maxlength="10" autocomplete="off"
            placeholder="Please enter your number" required>
          <input type="text" name="Participant_name" placeholder="Participant Name" autocomplete="off" required>
          <div class="form-group">
            <!-- <label for="exampleFormControlSelect1"> Select Location</label> -->
            <select id="options" name="location" required>
                <option value="" disabled selected>Select an location</option>

                <option value="DELHI">DELHI</option>
                <option value="HARYANA">HARYANA</option>
                <option value="MP">MP</option>
                <option value="Rajasthan_east">Rajasthan - EAST</option>
                <option value="Rajasthan_west">Rajasthan - WEST</option>
                <option value="HP">HP</option>
                <option value="J&K">J&K</option>
                <option value="PUNJAB_N">PUNJAB-N</option>
                <option value="PUNJAB_S">PUNJAB-S</option>
                <option value="UP_1">UP-1</option>
                <option value="UP_2">UP-2</option>

            </select>
        </div>
        <div class="form-group">
            <!-- <label for="exampleFormControlSelect1"> Select Location</label> -->
            <select id="choices" required name="depot">
                <option selected>Depot</option>



            </select>
        </div>
          <input type='file' name="image" accept="image/*,capture=camera" id="readUrl" required>
          <img id="uploadedImage" src="#" alt="Uploaded Image" accept="image/*,capture=camera" style="display:none;">

          <input type="submit" class="custom-btn btn-1" id="btnAdd" name="submity" value="Submit">

        </form>
      </div>
    </div>

  </div>





  <script src="./assets/js/script.js"></script>
  <script src='./assets/js/splitting.min.js'></script>
  <script>

    Splitting();

  </script>


  <script>
    document.getElementById('readUrl').addEventListener('change', function () {
      if (this.files[0]) {
        var picture = new FileReader();
        picture.readAsDataURL(this.files[0]);
        picture.addEventListener('load', function (event) {
          document.getElementById('uploadedImage').setAttribute('src', event.target.result);
          document.getElementById('uploadedImage').style.display = 'block';
        });
      }
    });
  </script>
  <script>
    // Map your choices to your option value
    var lookup = {
      'DELHI': ['Delhi-E', 'Delhi-N', 'Delhi-S', 'Delhi-W'],
      'HARYANA': [' Ambala', 'Faridabad', 'Gurgaon', 'Hissar', 'Karnal', 'Narnaul', 'Panipat', 'Rohtak', 'Sirsa'],
      'MP': ['Bhopal', 'Dewas', 'Dhar', 'Guna', 'Gwalior', 'Khandwa', 'Indore', 'Khargone', 'Morena', 'Neemuch', 'Ratlam', 'Shajapur', 'Shivpuri', 'Ujjain', 'Vidisha'],
      'Rajasthan_east': [' Ajmer', 'Alwar', 'Bharatpur', 'Hanumangarh', 'Jaipur-L', 'Jaipur-R', 'Jhunjhunu', 'Kota', 'Bhilwara', 'SAWAI MADHOPUR'],
      'Rajasthan_west': ['Bikaner', 'Balotra', 'Banswara', 'Jodhpur', 'Pali', 'Udaipur'],
      'HP': ['Kangra', 'Mandi', 'Mandi', 'Shimla', 'Solan', 'Una'],
      'J&K': [' Kathua', 'Jammu', 'Srinagar'],
      'PUNJAB_N': ['Amritsar', 'Gurdaspur', 'Hoshiarpur', 'Jalandhar', 'Ludhiana'],
      'PUNJAB_S': ['Bhatinda', 'Chandigarh', 'Kotkapura', 'Sangrur', 'Patiala'],
      'UP_1': ['Agra', 'Aligarh', 'Bareilly', 'Etah', 'Ghaziabad', 'Kashipur', 'Mathura', 'Meerut', 'Moradabad', 'Muzaffarnagar', 'Noida'],
      'UP_2': ['Bijnore', 'Dehradun', 'Roorkee', 'Saharanpur'],

    };





    // When an option is changed, search the above for matching choices
    $('#options').on('change', function () {
      // Set selected option as variable
      var selectValue = $(this).val();

      // Empty the target field
      $('#choices').empty();

      // For each chocie in the selected option
      for (i = 0; i < lookup[selectValue].length; i++) {
        // Output choice in the target field
        $('#choices').append("<option value='" + lookup[selectValue][i] + "'>" + lookup[selectValue][i] + "</option>");
      }
    });

  </script>
</body>

</html>